<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DSLRBoothPath" value="" />
		<add key="PaymentGatewayUrl" value="" />
		<add key="ServicePrice" value="35000" />
		<add key="ApplicationPin" value="1234" />
		<add key="MidtransServerKey" value="" />
		<add key="IsProduction" value="false" />
	</appSettings>
</configuration>